@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');

html, body{
  font-family: 'Roboto Slab', 'Arial';
}
html{
  scroll-behavior: smooth
}
#header{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #313841;
  overflow-y: auto;
  width: 300px;
  transition: all ease-in-out 0.5s;
  padding: 0 15px;
  z-index: 9997;
}
#header .profile img{
  margin: 15px auto;
  display: block;
  width: 200px;
  border: 4px solid;
  border-color: gray;
  border-radius: 50%;
}
#header .profile h1{
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  color: #fff;
}
#header .profile .social-links a{
  font-size: 1rem;
  background: #212431;
  color:#fff;
  padding: 0.6rem;
  margin-right: 1rem;
  border-radius: 50%;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  width: 16%;
  justify-content: center;
}
#header .profile .social-links a:hover{
  background: #149ddd;
}
.nav-item{
  padding-left: 0.5rem;
  margin-bottom: 0;
}
.nav-item a,
.nav-item a:focus{
  display: flex;
  align-items: center;
  color: #a8a9b4;
  transition: 0.3s;
  font-size: 16px;
}
.nav-item a i,
.nav-item a:active i{
  font-size: 24px;
  padding-right: 14px;
  color: #6f7180;
}
.nav-item a:hover,
.nav-item a:active,
.nav-item a:active:focus,
.nav-item li:hover > a{
  text-decoration: none;
  color: #fff;
}
.nav-item a:hover i,
.nav-item a.active i,
.nav-item a.active:focus i,
.nav-item li:hover > a i{
  text-decoration: none;
  color: #149ddd;
}
.nav-item .active:focus i{
  text-decoration: none;
  color: #149ddd;
}
#main{
  margin-left: 300px;
}
section#inicio{
  background-image: url("../img/cs-map.jpg");
  /*teste*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.svg{
  width: 550px;
  margin-bottom: 10px;
}
.svg-contato{
  max-width: 350px;
}
section#inicio h2{
  font-size: 4.5rem;
  /*margin-left: 1.3rem;
  margin-bottom: 0;*/
  width: max-content;
}
section#inicio span#subtitle{
  font-size: 1.5rem;
  /*margin-left: 1.3rem;
  margin-bottom: 0;*/
  width: max-content;
}
.text-shadow{
  text-shadow: 4px 4px 10px #000000;
}
section#inicio div#arraste{
  width: 9rem;
  
}
section#inicio div#arraste a{
  text-decoration: none;
  color: #fff;

}
i.menu-mobile{
  position: fixed;
  color:#fff;
  background-color: #01a3be;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  border-radius: 4rem;
  cursor: pointer;
  z-index: 10;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  display: none;
}
.menu-nav-active{
  overflow-y: hidden;
}
.menu-nav-active #header{
  left: 0;
}
@media(max-width: 990px){
  #header{
    left: -300px;
  }
  i.menu-mobile{
    display: flex;
  }
  section#inicio h2{
    margin-left: 1.3rem;
    font-size: 3.5rem;
  }
  section#inicio span#subtitle{
    font-size: 1.5rem;
    margin-left: 1.3rem;
  }
  #main{
    margin-left: 0;
    margin: auto;
  }
}
*::-webkit-scrollbar{
  width: 10px;
}
*::-webkit-scrollbar-track{
  width: 12px;
  box-shadow: inset 0 0 .3rem #00000050;
  background-color: #fff;
}
*::-webkit-scrollbar-thumb{
  background-color: #149ddd;
}
.bg-section{
  background-color: #149ddd14;
}
.border-box{
  box-shadow: 4px 4px 36px #139ddc2e;
}
.cv .cv-title{
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#050d18;
}
.cv .cv-item{
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #139ddc;
  position: relative;
}
.cv .cv-item h4{
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #313842;
  margin-bottom: 10px;
}
.cv .cv-item h5{
  background-color: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  margin-bottom: 10px;
}
.cv .cv-item::before{
  content: "";
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #139ddc;
  background-color: #fff;
  left: -9px;
  border-radius: 50%;
}
.carousel-indicators{
  margin-bottom: -40px;
}
.carousel-control-prev,
.carousel-control-next{
  width: 130px;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color:#149ddd56;
  transition: .6s;
}
.nav-item a:active{
  color: #000000;
}
[data-anime]{
  opacity: 0;
  transition: 1s;
}
[data-anime="down"]{
  transform: translate3d(0, -100%, 0);
}
[data-anime="up"]{
  transform: translate3d(0, 100%, 0);
}
[data-anime="left"]{
  transform: translate3d(-100%, 0, 0);
}
[data-anime="right"]{
  transform: translate3d(50px, 0, 0);
}
[data-anime].animate{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
@media(max-width: 540px){
  section#inicio h2{
    margin-left: 1.3rem;
    font-size: 3.5rem;
    width: fit-content;
  }
  section#inicio span#subtitle{
    font-size: 1.5rem;
    margin-left: 1.3rem;    
    width: fit-content; 
  }
}
@media(max-width: 1178px){
  .svg-contato{
  max-width: 300px;
  }
}
@media(max-width: 1060px){
  .svg-contato{
  max-width: 250px;
  }
}
@media(max-width: 768px){
  .svg-contato{
  display: none;
  }
}
.links{
  margin-right: 25px;
  cursor: default;  
}
.links i:hover,
.links h4:hover{
  color: #139ddc;
}
.link-certificado a{
  text-decoration: none;
  position: relative;
  font-weight: 400;
  margin-bottom: 0px;
  color: #000000;
}
.link-certificado a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.link-certificado a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}